<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>pierce homepage</title>
        <script>
            var linkMap = {
                "testDemo": "CRASH_0.html"
            }
            window.onload = function(){

                var ulNode = document.getElementById("content-list");

                for(var i in linkMap) {
                    var liNode = document.createElement("li");
                    var link = document.createElement("a");
                    var liContent = document.createTextNode(i);
                    link.appendChild(liContent);
                    link.setAttribute('href', linkMap[i]);
                    liNode.appendChild(link);

                    ulNode.appendChild(liNode);
                }
            };
        </script>
    </head>
    <body>
        <div class="content">
            <h3>人类知识的结晶</h3>
            <ul id="content-list">

            </ul>
        </div>
    </body>
</html>
